// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

body {
    background-color: #251b37;
    .navbar {
        .navbar-brand {
            font-family: "Sassy Frass", cursive;
        }
    }
    .content-box {
        height: 100%;
        background-color: #372948 !important;

        .socials {
            background-color: #ffecef;
            border: none;
        }
    }

    .special {
        background-color: #ce7777 !important;
    }
    .skills {
        // background-color: #ffecef !important;
        font-size: 3rem;
        text-align: center;
    }

    #music-player-project {
        background-image: url("./assets/Music-Player.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 324px;
    }

    #calculator-project {
        background-image: url("./assets/Calculator.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 324px;
    }
}
