// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

body {
  background-color: #222831;
  .navbar {
    .navbar-brand {
      font-family: "Sassy Frass", cursive;
    }
  }
  .content-box {
    height: 100%;
    background-color: #393e46 !important;

    .socials {
      background-color: #00adb5;
      color: white;
      border: none;
    }
  }
  .special {
    background-color: #00adb5 !important;
  }

  .skills {
    background-color: #eeeeee !important;
  }
  // #main-image {
  //   // background-image: url("/assets/main-image.jpg") !important;
  //   // background-repeat: no-repeat;
  //   // background-size: cover;
  //   // background-position: center;
  // }
}
